<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Ionic Demo - List
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-input #filter fxFlex placeholder="Filter users"></ion-input>
        <button fxFlex="44px" (click)="add()" ion-button small color="secondary">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar color="light" padding style="padding-top: 0; padding-bottom: 0; min-height: 30px;">
    <ion-grid style="padding-top: 0px; padding-bottom: 0px;">
      <ion-row>
        <div fxFlex>
          <b>First</b>
        </div>
        <div fxFlex>
          <b>Last</b>
        </div>
        <div fxFlex="80px">
          <b>DOB</b>
        </div>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let contact of (contacts | async)">
      <button detail-none ion-item (click)="edit(contact.id)">
        <ion-grid>
          <ion-row>
            <div fxFlex>{{contact.firstName}}</div>
            <div fxFlex>{{contact.lastName}}</div>
            <div fxFlex="83px">{{contact.dateOfBirth | date:'shortDate'}}</div>
          </ion-row>
        </ion-grid>
      </button>
      <ion-item-options side="right">
        <button ion-button (click)="delete($event, contact.id)">
          <ion-icon name="trash"></ion-icon>
          <div>Delete</div>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
